USE [Hamed_MSU_EDU]
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 5/22/2019 1:14:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[Treatment] [int] NULL,
	[Group#] [int] NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Message] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Chats] PRIMARY KEY CLUSTERED 
(
	[Writer] ASC,
	[Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 5/22/2019 1:14:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NULL,
	[DT] [datetime] NULL,
	[Starting] [datetime] NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Treatment] ASC,
	[Group#] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offers]    Script Date: 5/22/2019 1:14:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offers](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Bidder] [nvarchar](50) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Price] [real] NOT NULL,
	[TotalVol] [real] NOT NULL,
	[UnFullfilled] [real] NOT NULL,
	[Buy0Sell1] [bit] NOT NULL,
 CONSTRAINT [PK_Offers] PRIMARY KEY CLUSTERED 
(
	[Treatment] DESC,
	[Group#] DESC,
	[Period] DESC,
	[Choice] ASC,
	[Bidder] ASC,
	[Time] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 5/22/2019 1:14:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[Education] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [smallint] NULL,
	[EnglishSpeaker] [bit] NULL,
	[Treatment] [int] NULL,
	[Group#] [int] NULL,
	[QualificationTime] [datetime] NULL,
	[Rater] [bit] NOT NULL,
	[Balance] [real] NULL,
	[ExtraVote] [int] NULL,
	[Representative] [nvarchar](50) NULL,
	[Suspended] [datetime] NULL,
	[Completed] [datetime] NULL,
	[Nonce] [uniqueidentifier] NOT NULL,
	[HashP] [binary](32) NOT NULL,
	[Before1] [int] NULL,
	[Before2] [int] NULL,
	[Before3] [int] NULL,
	[Before4] [int] NULL,
	[Before5] [int] NULL,
	[Before6] [int] NULL,
	[Before7R] [nvarchar](max) NULL,
	[After1R] [nvarchar](max) NULL,
	[After2] [int] NULL,
	[After3] [int] NULL,
	[After4] [int] NULL,
	[After5R] [nvarchar](max) NULL,
	[Verified] [bit] NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 5/22/2019 1:14:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingUser] [nvarchar](50) NOT NULL,
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[FinalScore] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingUser] ASC,
	[Treatment] ASC,
	[Group#] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shares]    Script Date: 5/22/2019 1:14:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shares](
	[Owner] [nvarchar](50) NOT NULL,
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Volume] [real] NOT NULL,
	[BalanceConfirm] [real] NOT NULL,
	[BalanceVoid] [real] NOT NULL,
 CONSTRAINT [PK_Ownership] PRIMARY KEY CLUSTERED 
(
	[Owner] ASC,
	[Treatment] ASC,
	[Group#] ASC,
	[Period] ASC,
	[Choice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 5/22/2019 1:14:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TranID] [int] IDENTITY(1,1) NOT NULL,
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Seller] [nvarchar](50) NOT NULL,
	[Sell_Time] [datetime] NOT NULL,
	[Buyer] [nvarchar](50) NOT NULL,
	[Buy_Time] [datetime] NOT NULL,
	[Price] [real] NOT NULL,
	[Vol] [real] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Treatment] DESC,
	[Group#] DESC,
	[Period] DESC,
	[Choice] ASC,
	[Seller] ASC,
	[Sell_Time] DESC,
	[Buyer] ASC,
	[Buy_Time] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatments]    Script Date: 5/22/2019 1:14:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[TID] [int] NOT NULL,
	[Parent] [int] NULL,
	[Constitution] [nvarchar](max) NULL,
	[Hypothesis] [nvarchar](max) NULL,
	[M] [int] NOT NULL,
	[Ta] [real] NOT NULL,
	[Tz] [real] NOT NULL,
	[Tf] [real] NOT NULL,
	[Tp] [real] NOT NULL,
	[Tv] [real] NOT NULL,
	[Te] [real] NOT NULL,
	[E] [real] NULL,
	[Compensation] [real] NOT NULL,
	[Reward] [real] NOT NULL,
	[RewardsCount] [int] NULL,
	[Rv] [real] NOT NULL,
	[Ro] [real] NOT NULL,
	[BetFee] [real] NOT NULL,
	[SuggestionFee] [real] NULL,
	[V] [int] NOT NULL,
	[W] [int] NOT NULL,
	[Meritocracy] [smallint] NULL,
	[Merit2All] [bit] NULL,
	[VoteChange] [bit] NOT NULL,
	[Valuation] [smallint] NOT NULL,
	[AuctionSort] [bit] NULL,
	[PerGroup] [int] NOT NULL,
	[InitialBalance] [real] NOT NULL,
	[InitialVolume] [real] NOT NULL,
 CONSTRAINT [PK__Treatmen__C456D72932B76232] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Versions]    Script Date: 5/22/2019 1:14:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Versions](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Artifact] [nvarchar](max) NOT NULL,
	[HtmlArtifact] [nvarchar](max) NULL,
	[Proposer] [nvarchar](50) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Score] [real] NOT NULL,
	[Performance] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[Treatment] ASC,
	[Group#] ASC,
	[Period] ASC,
	[Choice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voting]    Script Date: 5/22/2019 1:14:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voting](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Stage] [int] NOT NULL,
	[Voter] [nvarchar](50) NOT NULL,
	[Time] [datetime] NOT NULL,
	[VoteWeight] [int] NOT NULL,
	[Value] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Treatment] ASC,
	[Group#] ASC,
	[Period] ASC,
	[Choice] ASC,
	[Stage] ASC,
	[Voter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Offers] ADD  CONSTRAINT [DF_Offers_Volume]  DEFAULT ((0)) FOR [TotalVol]
GO
ALTER TABLE [dbo].[Offers] ADD  CONSTRAINT [DF_Offers_Fullfilled]  DEFAULT ((0)) FOR [UnFullfilled]
GO
ALTER TABLE [dbo].[Offers] ADD  DEFAULT ((0)) FOR [Buy0Sell1]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((0)) FOR [Rater]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((0)) FOR [ExtraVote]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT (newid()) FOR [Nonce]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((0)) FOR [HashP]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((1)) FOR [Verified]
GO
ALTER TABLE [dbo].[Rating] ADD  DEFAULT ((1)) FOR [Group#]
GO
ALTER TABLE [dbo].[Shares] ADD  DEFAULT ((0)) FOR [Volume]
GO
ALTER TABLE [dbo].[Shares] ADD  CONSTRAINT [DF_Shares_LocalBalance]  DEFAULT ((0)) FOR [BalanceConfirm]
GO
ALTER TABLE [dbo].[Shares] ADD  CONSTRAINT [DF_Shares_BalanceVoid]  DEFAULT ((0)) FOR [BalanceVoid]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__M__33D4B598]  DEFAULT ((1)) FOR [M]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Ta__34C8D9D1]  DEFAULT ((1)) FOR [Ta]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Tz__35BCFE0A]  DEFAULT ((60)) FOR [Tz]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Tf__36B12243]  DEFAULT ((30)) FOR [Tf]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Tp__37A5467C]  DEFAULT ((1)) FOR [Tp]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Tv__38996AB5]  DEFAULT ((1)) FOR [Tv]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Te__398D8EEE]  DEFAULT ((0)) FOR [Te]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Compe__3A81B327]  DEFAULT ((0)) FOR [Compensation]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Rewar__3B75D760]  DEFAULT ((0)) FOR [Reward]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Rewar__3C69FB99]  DEFAULT ((1)) FOR [RewardsCount]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Rv__3D5E1FD2]  DEFAULT ((0)) FOR [Rv]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Ro__3E52440B]  DEFAULT ((0)) FOR [Ro]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__BetFe__3F466844]  DEFAULT ((0)) FOR [BetFee]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Sugge__403A8C7D]  DEFAULT ((0)) FOR [SuggestionFee]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__V__412EB0B6]  DEFAULT ((0)) FOR [V]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__W__4222D4EF]  DEFAULT ((0)) FOR [W]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Merit__4316F928]  DEFAULT ((0)) FOR [Meritocracy]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Merit__440B1D61]  DEFAULT ((0)) FOR [Merit2All]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__VoteC__44FF419A]  DEFAULT ((0)) FOR [VoteChange]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Valua__49C3F6B7]  DEFAULT ((0)) FOR [Valuation]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Aucti__4AB81AF0]  DEFAULT ((0)) FOR [AuctionSort]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__PerGr__4BAC3F29]  DEFAULT ((50)) FOR [PerGroup]
GO
ALTER TABLE [dbo].[Treatments] ADD  DEFAULT ((0)) FOR [InitialBalance]
GO
ALTER TABLE [dbo].[Treatments] ADD  DEFAULT ((0)) FOR [InitialVolume]
GO
ALTER TABLE [dbo].[Versions] ADD  DEFAULT ((1)) FOR [Group#]
GO
ALTER TABLE [dbo].[Versions] ADD  DEFAULT ((0)) FOR [Score]
GO
ALTER TABLE [dbo].[Versions] ADD  DEFAULT ((0)) FOR [Performance]
GO
ALTER TABLE [dbo].[Voting] ADD  DEFAULT ((1)) FOR [Group#]
GO
ALTER TABLE [dbo].[Voting] ADD  DEFAULT ((0)) FOR [Period]
GO
ALTER TABLE [dbo].[Voting] ADD  DEFAULT ((0)) FOR [Choice]
GO
ALTER TABLE [dbo].[Voting] ADD  DEFAULT ((0)) FOR [Stage]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [FK_Chats_Groups] FOREIGN KEY([Treatment], [Group#])
REFERENCES [dbo].[Groups] ([Treatment], [Group#])
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [FK_Chats_Groups]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [FK_Chats_People] FOREIGN KEY([Writer])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [FK_Chats_People]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Treatments] FOREIGN KEY([Treatment])
REFERENCES [dbo].[Treatments] ([TID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Treatments]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_People] FOREIGN KEY([Bidder])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_People]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Versions] FOREIGN KEY([Treatment], [Group#], [Period], [Choice])
REFERENCES [dbo].[Versions] ([Treatment], [Group#], [Period], [Choice])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Versions]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Groups] FOREIGN KEY([Treatment], [Group#])
REFERENCES [dbo].[Groups] ([Treatment], [Group#])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Groups]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_People] FOREIGN KEY([Representative])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_People]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Groups] FOREIGN KEY([Treatment], [Group#])
REFERENCES [dbo].[Groups] ([Treatment], [Group#])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Groups]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [User_Rater] FOREIGN KEY([RatingUser])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [User_Rater]
GO
ALTER TABLE [dbo].[Shares]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_People] FOREIGN KEY([Owner])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Shares] CHECK CONSTRAINT [FK_Ownership_People]
GO
ALTER TABLE [dbo].[Shares]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Versions] FOREIGN KEY([Treatment], [Group#], [Period], [Choice])
REFERENCES [dbo].[Versions] ([Treatment], [Group#], [Period], [Choice])
GO
ALTER TABLE [dbo].[Shares] CHECK CONSTRAINT [FK_Ownership_Versions]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Offers1] FOREIGN KEY([Treatment], [Group#], [Period], [Choice], [Seller], [Sell_Time])
REFERENCES [dbo].[Offers] ([Treatment], [Group#], [Period], [Choice], [Bidder], [Time])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Offers1]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Offers2] FOREIGN KEY([Treatment], [Group#], [Period], [Choice], [Buyer], [Buy_Time])
REFERENCES [dbo].[Offers] ([Treatment], [Group#], [Period], [Choice], [Bidder], [Time])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Offers2]
GO
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [Self] FOREIGN KEY([Parent])
REFERENCES [dbo].[Treatments] ([TID])
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [Self]
GO
ALTER TABLE [dbo].[Versions]  WITH CHECK ADD  CONSTRAINT [FK_Versions_Groups] FOREIGN KEY([Treatment], [Group#])
REFERENCES [dbo].[Groups] ([Treatment], [Group#])
GO
ALTER TABLE [dbo].[Versions] CHECK CONSTRAINT [FK_Versions_Groups]
GO
ALTER TABLE [dbo].[Versions]  WITH CHECK ADD  CONSTRAINT [Proposer_User] FOREIGN KEY([Proposer])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Versions] CHECK CONSTRAINT [Proposer_User]
GO
ALTER TABLE [dbo].[Voting]  WITH CHECK ADD  CONSTRAINT [Choice_Version] FOREIGN KEY([Treatment], [Group#], [Period], [Choice])
REFERENCES [dbo].[Versions] ([Treatment], [Group#], [Period], [Choice])
GO
ALTER TABLE [dbo].[Voting] CHECK CONSTRAINT [Choice_Version]
GO
ALTER TABLE [dbo].[Voting]  WITH CHECK ADD  CONSTRAINT [Voter_User] FOREIGN KEY([Voter])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Voting] CHECK CONSTRAINT [Voter_User]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [CK_Offers_Column1] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [CK_Offers_Column1]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [CK_Offers_Column2] CHECK  (([TotalVol]>=(0)))
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [CK_Offers_Column2]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [CK_Offers_Column3] CHECK  (([UnFullfilled]>=(0) AND [UnFullfilled]<=[TotalVol]))
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [CK_Offers_Column3]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [Balance] CHECK  (([Balance]>=(0)))
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [Balance]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [Treatment] CHECK  (([Treatment]>=(0)))
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [Treatment]
GO
ALTER TABLE [dbo].[Shares]  WITH CHECK ADD  CONSTRAINT [BalanceConfirm] CHECK  (([BalanceConfirm]>=(0)))
GO
ALTER TABLE [dbo].[Shares] CHECK CONSTRAINT [BalanceConfirm]
GO
ALTER TABLE [dbo].[Shares]  WITH CHECK ADD  CONSTRAINT [BalanceVoid] CHECK  (([BalanceVoid]>=(0)))
GO
ALTER TABLE [dbo].[Shares] CHECK CONSTRAINT [BalanceVoid]
GO
ALTER TABLE [dbo].[Shares]  WITH CHECK ADD  CONSTRAINT [Volume] CHECK  (([Volume]>=(0)))
GO
ALTER TABLE [dbo].[Shares] CHECK CONSTRAINT [Volume]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [Amount] CHECK  (([Vol]>(0) OR [Vol]=(0) AND [Seller]='Experimenter'))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [Amount]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [Price]
GO
/****** Object:  StoredProcedure [dbo].[Del]    Script Date: 5/22/2019 1:14:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Del]
	@Treatment INT, 
	@Group INT,
	@Period INT,
	@Choice INT
AS
BEGIN TRANSACTION;
BEGIN TRY	
	DELETE FROM Shares WHERE Treatment = @Treatment AND Group# = @Group AND Period = @Period AND Choice >= @Choice;
	DELETE FROM Versions WHERE Treatment = @Treatment AND Group# = @Group AND Period = @Period AND Choice = @Choice;
	UPDATE Versions SET Choice = Choice - 1 WHERE Treatment = @Treatment AND Group# = @Group AND Period = @Period AND Choice > @Choice;
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	PRINT  CAST(ERROR_NUMBER() AS VARCHAR) + ' Error in deleting version: ' + ERROR_MESSAGE();
	RETURN ERROR_NUMBER();
END CATCH;
COMMIT TRANSACTION;
PRINT 'Completed Deleting';
RETURN 1;
GO
/****** Object:  StoredProcedure [dbo].[StartTrading]    Script Date: 5/22/2019 1:14:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StartTrading]
( 
	@Treatment INT, 
	@Group INT,
	@Period INT 
)
AS
BEGIN	
BEGIN TRANSACTION
BEGIN TRY		
	DECLARE @CurrentTime DATETIME = GETDATE();
	DECLARE @Score REAL;

	SELECT @Score = Score 
			FROM Versions 
			WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period AND Choice = 0;

	INSERT INTO Offers VALUES (@Treatment, @Group, @Period, 0, 'Experimenter', @CurrentTime, @Score, 0, 0, 0);	 

	INSERT INTO Transactions VALUES (@Treatment, @Group, @Period, 0, 'Experimenter', @CurrentTime, 'Experimenter', @CurrentTime, @Score, 0);

	--UPDATE Versions SET Score = @Score WHERE Treatment = @Treatment AND Group# = @Group AND [Period] = @Period;
				
	DECLARE @m INT;
	SELECT @m = COUNT(Choice) 	
	FROM Versions 
	WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period;
	
	DECLARE @i INT = 1;
	WHILE @i < @m
	BEGIN
		INSERT INTO Shares
			SELECT Owner , Treatment , Group# , [Period] , @i , Volume , 0 , 0
            FROM Shares
            WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period AND Choice = 0;

		SET @i = @i + 1 ;
	END;

END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	PRINT  CAST(ERROR_NUMBER() AS VARCHAR) + ' Error in StartTrading: ' + ERROR_MESSAGE();
	RETURN ERROR_NUMBER();
END CATCH;	
COMMIT TRANSACTION;
PRINT 'Completed';
RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[Transact]    Script Date: 5/22/2019 1:14:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Transact]
( 
	@Treatment INT, 
	@Group INT,
	@Period INT, 
	@Choice INT, 
	@Seller NVARCHAR(50),
	@Sell_Time DATETIME,
	@Buyer NVARCHAR(50),
	@Buy_Time DATETIME,
	@Price REAL,
	@Vol REAL
)
AS
BEGIN	
BEGIN TRANSACTION

--***************************TRANSACTIONS***********************
	BEGIN TRY
		INSERT INTO Transactions VALUES (@Treatment, @Group, @Period, @Choice, @Seller, @Sell_Time, @Buyer, @Buy_Time, @Price, @Vol);
		--UPDATE Versions SET Score = @Price WHERE (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		PRINT  CAST(ERROR_NUMBER() AS VARCHAR) + ' Error in Transactions: ' + ERROR_MESSAGE();
		RETURN ERROR_NUMBER();
	END CATCH;
	   
--****************************OFFERS FULLFILL***********************
	BEGIN TRY
		UPDATE Offers
		SET UnFullfilled = UnFullfilled - @Vol
		WHERE (([Bidder] = @Seller AND [Time]=@Sell_Time) OR ([Bidder] = @Buyer AND [Time]=@Buy_Time)) 
			AND (Treatment = @Treatment) AND([Group#] = @Group) AND ([Period] = @Period) AND (Choice = @Choice);
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		PRINT  CAST(ERROR_NUMBER() AS VARCHAR) + ' Error in OFFER: ' + ERROR_MESSAGE();
		RETURN ERROR_NUMBER();
	END CATCH

--****************************SELLER ******************************
	BEGIN TRY
			UPDATE Shares SET BalanceConfirm = BalanceConfirm + @Vol * @Price, Volume = Volume - @Vol WHERE ([Owner] = @Seller) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);

			DECLARE @MinB FLOAT;
			SELECT @MinB = CASE WHEN BalanceVoid > BalanceConfirm THEN BalanceConfirm ELSE BalanceVoid END
				FROM Shares
				WHERE ([Owner] = @Seller) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
				
			PRINT 'MinB = ' + CAST(@MinB AS VARCHAR);
	
			IF @MinB > 0
			BEGIN
				PRINT 'MinB > 0 ';

				UPDATE Shares
				SET BalanceConfirm = BalanceConfirm - @MinB , BalanceVoid = BalanceVoid - @MinB
				WHERE ([Owner] = @Seller) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);	

				UPDATE People 
				SET Balance = Balance + @MinB
				WHERE ([ID] = @Seller)
			END;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		PRINT CAST(ERROR_NUMBER() AS VARCHAR) + ' Shares Seller: ' + ERROR_MESSAGE();
		RETURN ERROR_NUMBER(); -- 547 : Seller does not have enough Shares.
	END CATCH	

--*****************************BUYER********************************
	
    BEGIN TRY 
		INSERT INTO Shares VALUES (@Buyer, @Treatment, @Group, @Period, @Choice, @Vol, 0, @Vol * @Price);
		UPDATE People SET Balance = Balance - @Vol * @Price WHERE ID = @Buyer;
	END TRY
	BEGIN CATCH
		PRINT  CAST(ERROR_NUMBER() AS VARCHAR) + ' Did not INSERT for Buyer: ' + ERROR_MESSAGE();
		IF ERROR_NUMBER() = 2627		
		BEGIN TRY

			DECLARE @Deficit FLOAT;
			SELECT @Deficit = @Vol * @Price - BalanceConfirm 
				FROM Shares 
				WHERE ([Owner] = @Buyer) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);

			PRINT 'Deficit = ' + CAST(@Deficit AS VARCHAR) ;

			IF @Deficit <= 0
			BEGIN -- No Money Transfer From People.Balance
				PRINT 'Deficit <= 0';
				UPDATE Shares SET BalanceConfirm = BalanceConfirm - @Vol * @Price, Volume = Volume + @Vol WHERE ([Owner] = @Buyer) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
			END
			ELSE
			BEGIN -- With Money Transfer From People.Balance
				PRINT 'Deficit > 0';
				UPDATE People SET Balance = Balance - @Deficit WHERE ID = @Buyer; 
				UPDATE Shares SET BalanceConfirm = 0, BalanceVoid = BalanceVoid + @Deficit , Volume = Volume + @Vol 
					WHERE ([Owner] = @Buyer) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
			END;
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			PRINT CAST(ERROR_NUMBER() AS VARCHAR) + ' UPDATE Buyer: ' + ERROR_MESSAGE() ;
			RETURN ERROR_NUMBER(); -- 547 : Buyer does not have enough Balance
		END CATCH						
		ELSE
		BEGIN
			ROLLBACK TRANSACTION;
			PRINT CAST(ERROR_NUMBER() AS VARCHAR) + ' INSERT / UPDATE Buyer: ' + ERROR_MESSAGE();
			RETURN ERROR_NUMBER();
		END;
	END CATCH

COMMIT TRANSACTION
PRINT 'Completed';
RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[Winning]    Script Date: 5/22/2019 1:14:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Winning]
( 
	@Treatment INT, 
	@Group INT,
	@Period INT, 
	@Winner INT	
)
AS
BEGIN	
BEGIN TRANSACTION
BEGIN TRY
	UPDATE People SET Balance = Balance 
								+ (SELECT COALESCE(BalanceConfirm, 0) FROM Shares WHERE [Owner] = People.ID AND Choice = @Winner AND [Period] = @Period)
								+ (SELECT COALESCE(SUM(BalanceVoid),0) FROM Shares WHERE [Owner] = People.ID AND Choice != @Winner AND [Period] = @Period)
	WHERE Treatment = @Treatment AND [Group#] = @Group;

	--UPDATE People SET Balance = Balance + (SELECT SUM(BalanceVoid) FROM Shares WHERE [Owner] = People.ID AND Choice != @Winner AND [Period] = @Period)
	--WHERE Treatment = @Treatment AND [Group#] = @Group;

	INSERT INTO Shares SELECT Owner, Treatment, Group#, @Period + 2 , 0 , Volume , 0, 0
                       FROM Shares
                       WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period AND Choice = @Winner;

	--INSERT INTO Offers SELECT  Treatment, Group#, @Period + 2 , 0, Bidder, [Time] , Price, UnFullfilled, UnFullfilled, Buy0Sell1
 --                      FROM Offers
 --                      WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period AND Choice = @Winner AND UnFullfilled>0;

END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	PRINT  CAST(ERROR_NUMBER() AS VARCHAR) + ' Error in Winning: ' + ERROR_MESSAGE();
	RETURN ERROR_NUMBER();
END CATCH;	
COMMIT TRANSACTION;
PRINT 'Completed';
RETURN 1;
END
GO
