USE [master]
GO
/****** Object:  Database [Hamed_MSU_EDU]    Script Date: 4/20/2020 6:31:26 AM ******/
CREATE DATABASE [Hamed_MSU_EDU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HAMED-CONSTITUTION_BROAD_MSU_EDU', FILENAME = N'B:\MSSQL13.MSBSQLC\MSSQL\DATA\Hamed_MSU_EDU.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HAMED-CONSTITUTION_BROAD_MSU_EDU_log', FILENAME = N'B:\MSSQL13.MSBSQLC\MSSQL\Logs\Hamed_MSU_EDU_log.ldf' , SIZE = 40960KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hamed_MSU_EDU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hamed_MSU_EDU]
GO
USE [Hamed_MSU_EDU]
GO
/****** Object:  User [AUSTIN\msb-iu-hk8486]    Script Date: 4/20/2020 6:31:31 AM ******/
CREATE USER [AUSTIN\msb-iu-hk8486] FOR LOGIN [AUSTIN\msb-iu-hk8486] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AUSTIN\hk8486]    Script Date: 4/20/2020 6:31:31 AM ******/
CREATE USER [AUSTIN\hk8486] FOR LOGIN [AUSTIN\hk8486] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [AUSTIN\msb-iu-hk8486]
GO
ALTER ROLE [db_owner] ADD MEMBER [AUSTIN\hk8486]
GO
/****** Object:  Table [dbo].[Authoring]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authoring](
	[AuthoringId] [int] IDENTITY(1,1) NOT NULL,
	[ManuscriptId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Institution] [nvarchar](255) NOT NULL,
	[Contribution] [nvarchar](100) NULL,
	[SortOrder] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Nonce] [nvarchar](50) NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [smalldatetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Authoring] PRIMARY KEY CLUSTERED 
(
	[AuthoringId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthoringStatus]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthoringStatus](
	[AuthoringStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_AuthoringStatus] PRIMARY KEY CLUSTERED 
(
	[AuthoringStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[Treatment] [int] NULL,
	[Group#] [int] NULL,
	[Writer] [nvarchar](100) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Message] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Chats] PRIMARY KEY CLUSTERED 
(
	[Writer] ASC,
	[Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Time] [datetime] NOT NULL,
	[ErrorNumber] [int] NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Caller] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[FullName] [nvarchar](200) NULL,
	[Email] [nvarchar](512) NULL,
	[Phone] [nvarchar](20) NULL,
	[Comment] [nvarchar](4000) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NULL,
	[DT] [datetime] NULL,
	[Starting] [datetime] NULL,
	[A] [real] NULL,
	[B] [real] NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Treatment] ASC,
	[Group#] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Institution]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Institution](
	[InstitutionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Institution] PRIMARY KEY CLUSTERED 
(
	[InstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keyword]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keyword](
	[KeywordId] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](500) NOT NULL,
	[Maker] [nvarchar](100) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Keyword] PRIMARY KEY CLUSTERED 
(
	[KeywordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[LogId] [int] NOT NULL,
	[URLID] [int] NOT NULL,
	[IP] [nvarchar](50) NOT NULL,
	[Time] [smalldatetime] NULL,
	[Device] [nvarchar](100) NOT NULL,
	[Page] [nvarchar](50) NULL,
	[UserId] [int] NOT NULL,
	[Message] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [smalldatetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [smalldatetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manuscript]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manuscript](
	[ManuscriptId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Abstract] [nvarchar](2000) NULL,
	[Keyword] [nvarchar](500) NULL,
	[HasNoFundingEnabled] [bit] NULL,
	[NoFundingDetail] [nvarchar](500) NULL,
	[HasConfirmedDisclosure] [bit] NULL,
	[HasUnderstoodSubmit] [bit] NULL,
	[Creator] [int] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[PublicationDate] [smalldatetime] NULL,
	[StatusId] [int] NOT NULL,
	[Nonce] [nvarchar](50) NOT NULL,
	[MergedTo] [nvarchar](100) NULL,
	[AuthorResponse] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Manuscript] PRIMARY KEY CLUSTERED 
(
	[ManuscriptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManuscriptFile]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManuscriptFile](
	[ManuscriptFileId] [int] IDENTITY(1,1) NOT NULL,
	[ManuscriptId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[FileName] [nvarchar](100) NOT NULL,
	[ServerFileName] [nvarchar](500) NOT NULL,
	[FileSize] [float] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [smalldatetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [smalldatetime] NULL,
 CONSTRAINT [PK_ManuscriptFile] PRIMARY KEY CLUSTERED 
(
	[ManuscriptFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManuscriptStatus]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManuscriptStatus](
	[ManuscriptStatusId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_ManuscriptStatus] PRIMARY KEY CLUSTERED 
(
	[ManuscriptStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offers]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offers](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Bidder] [nvarchar](100) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Price] [real] NOT NULL,
	[TotalVol] [real] NOT NULL,
	[UnFullfilled] [real] NULL,
	[Buy0Sell1] [bit] NOT NULL,
 CONSTRAINT [PK_Offers] PRIMARY KEY CLUSTERED 
(
	[Treatment] DESC,
	[Group#] DESC,
	[Period] DESC,
	[Choice] ASC,
	[Bidder] ASC,
	[Time] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Bidder] [nvarchar](100) NOT NULL,
	[Time] [datetime] NOT NULL,
	[DShare] [real] NOT NULL,
	[UnFullfilled] [real] NULL,
	[Price1] [real] NOT NULL,
	[Price2] [real] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Treatment] DESC,
	[Group#] DESC,
	[Period] DESC,
	[Choice] ASC,
	[Bidder] ASC,
	[Time] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[ID] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[Verified] [datetime] NULL,
	[Education] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [smallint] NULL,
	[EnglishSpeaker] [bit] NULL,
	[Treatment] [int] NULL,
	[Group#] [int] NULL,
	[QualificationTime] [datetime] NULL,
	[Rater] [bit] NOT NULL,
	[Balance] [real] NULL,
	[ShareBalance] [real] NULL,
	[FinalBalance] [real] NULL,
	[Completed] [datetime] NULL,
	[Nonce] [uniqueidentifier] NOT NULL,
	[HashP] [binary](32) NOT NULL,
	[Before1] [int] NULL,
	[Before2] [int] NULL,
	[Before3] [int] NULL,
	[Before4] [int] NULL,
	[Before5] [int] NULL,
	[Before6] [int] NULL,
	[Before7R] [nvarchar](max) NULL,
	[After1] [int] NULL,
	[After2R] [nvarchar](max) NULL,
	[After3] [int] NULL,
	[After4] [int] NULL,
	[After5R] [nvarchar](max) NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingUser] [nvarchar](100) NOT NULL,
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[FinalScore] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingUser] ASC,
	[Treatment] ASC,
	[Group#] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviewing]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviewing](
	[ReviewingId] [int] IDENTITY(1,1) NOT NULL,
	[ReviewerId] [int] NOT NULL,
	[ManuscriptId] [int] NOT NULL,
	[KeyTakeAways] [nvarchar](max) NULL,
	[Score1] [int] NOT NULL,
	[Score2] [int] NOT NULL,
	[Score3] [int] NOT NULL,
	[Score4] [int] NOT NULL,
	[DoNotRateScore2] [bit] NOT NULL,
	[DoNotRateScore3] [bit] NOT NULL,
	[DoNotRateScore4] [bit] NOT NULL,
	[Comment1] [nvarchar](max) NULL,
	[Comment2] [nvarchar](max) NULL,
	[Comment3] [nvarchar](max) NULL,
	[Comment4] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Nonce] [nvarchar](50) NOT NULL,
	[Reason] [nvarchar](100) NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [smalldatetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Reviewing] PRIMARY KEY CLUSTERED 
(
	[ReviewingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewingStatus]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewingStatus](
	[ReviewingStatusId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_ReviewStatus] PRIMARY KEY CLUSTERED 
(
	[ReviewingStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shares]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shares](
	[Owner] [nvarchar](100) NOT NULL,
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Volume] [real] NOT NULL,
	[BalanceConfirm] [real] NOT NULL,
	[BalanceVoid] [real] NOT NULL,
 CONSTRAINT [PK_Ownership] PRIMARY KEY CLUSTERED 
(
	[Owner] ASC,
	[Treatment] ASC,
	[Group#] ASC,
	[Period] ASC,
	[Choice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuggestedReviewer]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuggestedReviewer](
	[SuggestedReviewerId] [int] IDENTITY(1,1) NOT NULL,
	[ReviewingId] [int] NOT NULL,
	[ReviewerId] [int] NOT NULL,
	[ManuscriptId] [int] NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_SuggestedReviewer] PRIMARY KEY CLUSTERED 
(
	[SuggestedReviewerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TranID] [int] IDENTITY(1,1) NOT NULL,
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Seller] [nvarchar](100) NOT NULL,
	[Sell_Time] [datetime] NOT NULL,
	[Buyer] [nvarchar](100) NOT NULL,
	[Buy_Time] [datetime] NOT NULL,
	[Price] [real] NOT NULL,
	[Vol] [real] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatments]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[TID] [int] NOT NULL,
	[Parent] [int] NULL,
	[Constitution] [nvarchar](max) NULL,
	[Hypothesis] [nvarchar](max) NULL,
	[M] [int] NOT NULL,
	[Ta] [real] NOT NULL,
	[Tz] [real] NOT NULL,
	[Tf] [real] NOT NULL,
	[Tp] [real] NOT NULL,
	[Tv] [real] NOT NULL,
	[Te] [real] NOT NULL,
	[E] [real] NULL,
	[Compensation] [real] NOT NULL,
	[Reward] [real] NOT NULL,
	[RewardsCount] [int] NULL,
	[Rv] [real] NOT NULL,
	[Ro] [real] NOT NULL,
	[BetFee] [real] NOT NULL,
	[SuggestionFee] [real] NULL,
	[V] [int] NOT NULL,
	[W] [int] NOT NULL,
	[Meritocracy] [smallint] NULL,
	[Merit2All] [bit] NULL,
	[VoteChange] [bit] NOT NULL,
	[Valuation] [smallint] NOT NULL,
	[AuctionSort] [bit] NULL,
	[PerGroup] [int] NOT NULL,
	[InitialBalance] [real] NOT NULL,
	[InitialVolume] [real] NOT NULL,
	[beta] [real] NULL,
 CONSTRAINT [PK__Treatmen__C456D72932B76232] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URL]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URL](
	[URLID] [int] NOT NULL,
	[TimeCreated] [smalldatetime] NOT NULL,
	[Platform] [nvarchar](100) NOT NULL,
	[Version] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Cost] [decimal](18, 0) NOT NULL,
	[ImpressionRate] [decimal](18, 0) NOT NULL,
	[Traffic] [nvarchar](50) NULL,
 CONSTRAINT [PK_URL] PRIMARY KEY CLUSTERED 
(
	[URLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Title] [nvarchar](10) NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Creator] [int] NULL,
	[Picture] [nvarchar](100) NULL,
	[Affiliation] [nvarchar](1000) NOT NULL,
	[Education] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Country] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[MergedTo] [nvarchar](1000) NULL,
	[WebpageURL] [nvarchar](1000) NULL,
	[LinkedIn] [nvarchar](1000) NULL,
	[Keyword] [nvarchar](4000) NOT NULL,
	[Willing2Review] [int] NOT NULL,
	[ReviewScore] [decimal](18, 2) NOT NULL,
	[WhereHeared] [nvarchar](500) NULL,
	[Status] [int] NOT NULL,
	[Nonce] [nvarchar](50) NOT NULL,
	[HasTermsAgreed] [bit] NOT NULL,
	[HasPolicyAgreed] [bit] NOT NULL,
	[UserRoleId] [int] NULL,
	[IsResetPasswordRequest] [bit] NULL,
	[ResetPasswordRequestDate] [datetime] NULL,
	[Active] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleId] [int] NOT NULL,
	[UserRole] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Versions]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Versions](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Artifact] [nvarchar](max) NOT NULL,
	[HtmlArtifact] [nvarchar](max) NULL,
	[Proposer] [nvarchar](100) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Score] [real] NOT NULL,
	[PerVal] [real] NULL,
	[Fund] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[Treatment] ASC,
	[Group#] ASC,
	[Period] ASC,
	[Choice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voting]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voting](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Stage] [int] NOT NULL,
	[Voter] [nvarchar](100) NOT NULL,
	[Time] [datetime] NOT NULL,
	[VoteWeight] [int] NOT NULL,
	[Value] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Treatment] ASC,
	[Group#] ASC,
	[Period] ASC,
	[Choice] ASC,
	[Stage] ASC,
	[Voter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Authoring] ADD  CONSTRAINT [DF_Authoring_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[AuthoringStatus] ADD  CONSTRAINT [DF_AuthoringStatus_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Institution] ADD  CONSTRAINT [DF_Institution_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Keyword] ADD  CONSTRAINT [DF_Keyword_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Manuscript] ADD  CONSTRAINT [DF_Manuscript_NoFundingEnabled]  DEFAULT ((0)) FOR [HasNoFundingEnabled]
GO
ALTER TABLE [dbo].[Manuscript] ADD  CONSTRAINT [DF_Manuscript_HasConfirmedDisclosure]  DEFAULT ((0)) FOR [HasConfirmedDisclosure]
GO
ALTER TABLE [dbo].[Manuscript] ADD  CONSTRAINT [DF_Manuscript_HasUnderstoodSubmit]  DEFAULT ((0)) FOR [HasUnderstoodSubmit]
GO
ALTER TABLE [dbo].[Manuscript] ADD  CONSTRAINT [DF_Manuscript_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[ManuscriptFile] ADD  CONSTRAINT [DF_ManuscriptFile_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[ManuscriptStatus] ADD  CONSTRAINT [DF_ManuscriptStatus_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Offers] ADD  CONSTRAINT [DF_Offers_Volume]  DEFAULT ((0)) FOR [TotalVol]
GO
ALTER TABLE [dbo].[Offers] ADD  CONSTRAINT [DF_Offers_Fullfilled]  DEFAULT ((0)) FOR [UnFullfilled]
GO
ALTER TABLE [dbo].[Offers] ADD  DEFAULT ((0)) FOR [Buy0Sell1]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Volume]  DEFAULT ((0)) FOR [DShare]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Fullfilled]  DEFAULT ((0)) FOR [UnFullfilled]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((0)) FOR [Rater]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((0)) FOR [ShareBalance]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((0)) FOR [FinalBalance]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT (newid()) FOR [Nonce]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((0)) FOR [HashP]
GO
ALTER TABLE [dbo].[Rating] ADD  DEFAULT ((1)) FOR [Group#]
GO
ALTER TABLE [dbo].[Reviewing] ADD  CONSTRAINT [DF_Reviewing_Score1]  DEFAULT ((0)) FOR [Score1]
GO
ALTER TABLE [dbo].[Reviewing] ADD  CONSTRAINT [DF_Reviewing_Score2]  DEFAULT ((0)) FOR [Score2]
GO
ALTER TABLE [dbo].[Reviewing] ADD  CONSTRAINT [DF_Reviewing_Score3]  DEFAULT ((0)) FOR [Score3]
GO
ALTER TABLE [dbo].[Reviewing] ADD  CONSTRAINT [DF_Reviewing_Score4]  DEFAULT ((0)) FOR [Score4]
GO
ALTER TABLE [dbo].[Reviewing] ADD  CONSTRAINT [DF_Reviewing_IsScore2Rated]  DEFAULT ((0)) FOR [DoNotRateScore2]
GO
ALTER TABLE [dbo].[Reviewing] ADD  CONSTRAINT [DF_Reviewing_IsScore3Rated]  DEFAULT ((0)) FOR [DoNotRateScore3]
GO
ALTER TABLE [dbo].[Reviewing] ADD  CONSTRAINT [DF_Reviewing_IsScore4Rated]  DEFAULT ((0)) FOR [DoNotRateScore4]
GO
ALTER TABLE [dbo].[Reviewing] ADD  CONSTRAINT [DF_Reviewing_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[ReviewingStatus] ADD  CONSTRAINT [DF_ReviewStatus_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Shares] ADD  DEFAULT ((0)) FOR [Volume]
GO
ALTER TABLE [dbo].[Shares] ADD  CONSTRAINT [DF_Shares_LocalBalance]  DEFAULT ((0)) FOR [BalanceConfirm]
GO
ALTER TABLE [dbo].[Shares] ADD  CONSTRAINT [DF_Shares_BalanceVoid]  DEFAULT ((0)) FOR [BalanceVoid]
GO
ALTER TABLE [dbo].[SuggestedReviewer] ADD  CONSTRAINT [DF_SuggestedReviewer_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__M__33D4B598]  DEFAULT ((1)) FOR [M]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Ta__34C8D9D1]  DEFAULT ((1)) FOR [Ta]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Tz__35BCFE0A]  DEFAULT ((60)) FOR [Tz]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Tf__36B12243]  DEFAULT ((30)) FOR [Tf]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Tp__37A5467C]  DEFAULT ((1)) FOR [Tp]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Tv__38996AB5]  DEFAULT ((1)) FOR [Tv]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Te__398D8EEE]  DEFAULT ((0)) FOR [Te]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Compe__3A81B327]  DEFAULT ((0)) FOR [Compensation]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Rewar__3B75D760]  DEFAULT ((0)) FOR [Reward]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Rewar__3C69FB99]  DEFAULT ((1)) FOR [RewardsCount]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Rv__3D5E1FD2]  DEFAULT ((0)) FOR [Rv]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Ro__3E52440B]  DEFAULT ((0)) FOR [Ro]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__BetFe__3F466844]  DEFAULT ((0)) FOR [BetFee]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Sugge__403A8C7D]  DEFAULT ((0)) FOR [SuggestionFee]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__V__412EB0B6]  DEFAULT ((0)) FOR [V]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__W__4222D4EF]  DEFAULT ((0)) FOR [W]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Merit__4316F928]  DEFAULT ((0)) FOR [Meritocracy]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Merit__440B1D61]  DEFAULT ((0)) FOR [Merit2All]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__VoteC__44FF419A]  DEFAULT ((0)) FOR [VoteChange]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Valua__49C3F6B7]  DEFAULT ((0)) FOR [Valuation]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Aucti__4AB81AF0]  DEFAULT ((0)) FOR [AuctionSort]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__PerGr__4BAC3F29]  DEFAULT ((50)) FOR [PerGroup]
GO
ALTER TABLE [dbo].[Treatments] ADD  DEFAULT ((0)) FOR [InitialBalance]
GO
ALTER TABLE [dbo].[Treatments] ADD  DEFAULT ((0)) FOR [InitialVolume]
GO
ALTER TABLE [dbo].[Treatments] ADD  DEFAULT ((1)) FOR [beta]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_ReviewScore]  DEFAULT ((0)) FOR [ReviewScore]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_HasTermsAggreed]  DEFAULT ((0)) FOR [HasTermsAgreed]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_HasPolicyAgreed]  DEFAULT ((0)) FOR [HasPolicyAgreed]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Versions] ADD  DEFAULT ((1)) FOR [Group#]
GO
ALTER TABLE [dbo].[Versions] ADD  DEFAULT ((0)) FOR [Score]
GO
ALTER TABLE [dbo].[Versions] ADD  DEFAULT ((1)) FOR [PerVal]
GO
ALTER TABLE [dbo].[Versions] ADD  DEFAULT ((0)) FOR [Fund]
GO
ALTER TABLE [dbo].[Voting] ADD  DEFAULT ((1)) FOR [Group#]
GO
ALTER TABLE [dbo].[Voting] ADD  DEFAULT ((0)) FOR [Period]
GO
ALTER TABLE [dbo].[Voting] ADD  DEFAULT ((0)) FOR [Choice]
GO
ALTER TABLE [dbo].[Voting] ADD  DEFAULT ((0)) FOR [Stage]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [FK_Chats_Groups] FOREIGN KEY([Treatment], [Group#])
REFERENCES [dbo].[Groups] ([Treatment], [Group#])
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [FK_Chats_Groups]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [FK_Chats_People] FOREIGN KEY([Writer])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [FK_Chats_People]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_User]
GO
ALTER TABLE [dbo].[Groups]  WITH NOCHECK ADD  CONSTRAINT [FK_Groups_Treatments] FOREIGN KEY([Treatment])
REFERENCES [dbo].[Treatments] ([TID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Treatments]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_URL] FOREIGN KEY([URLID])
REFERENCES [dbo].[URL] ([URLID])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_URL]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_User]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_People] FOREIGN KEY([Bidder])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_People]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Versions] FOREIGN KEY([Treatment], [Group#], [Period], [Choice])
REFERENCES [dbo].[Versions] ([Treatment], [Group#], [Period], [Choice])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Versions]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_People] FOREIGN KEY([Bidder])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_People]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Versions] FOREIGN KEY([Treatment], [Group#], [Period], [Choice])
REFERENCES [dbo].[Versions] ([Treatment], [Group#], [Period], [Choice])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Versions]
GO
ALTER TABLE [dbo].[People]  WITH NOCHECK ADD  CONSTRAINT [FK_People_Groups] FOREIGN KEY([Treatment], [Group#])
REFERENCES [dbo].[Groups] ([Treatment], [Group#])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Groups]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Groups] FOREIGN KEY([Treatment], [Group#])
REFERENCES [dbo].[Groups] ([Treatment], [Group#])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Groups]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [User_Rater] FOREIGN KEY([RatingUser])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [User_Rater]
GO
ALTER TABLE [dbo].[Shares]  WITH NOCHECK ADD  CONSTRAINT [FK_Ownership_People] FOREIGN KEY([Owner])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Shares] CHECK CONSTRAINT [FK_Ownership_People]
GO
ALTER TABLE [dbo].[Shares]  WITH NOCHECK ADD  CONSTRAINT [FK_Ownership_Versions] FOREIGN KEY([Treatment], [Group#], [Period], [Choice])
REFERENCES [dbo].[Versions] ([Treatment], [Group#], [Period], [Choice])
GO
ALTER TABLE [dbo].[Shares] CHECK CONSTRAINT [FK_Ownership_Versions]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Offers1] FOREIGN KEY([Treatment], [Group#], [Period], [Choice], [Seller], [Sell_Time])
REFERENCES [dbo].[Offers] ([Treatment], [Group#], [Period], [Choice], [Bidder], [Time])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Offers1]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Offers2] FOREIGN KEY([Treatment], [Group#], [Period], [Choice], [Buyer], [Buy_Time])
REFERENCES [dbo].[Offers] ([Treatment], [Group#], [Period], [Choice], [Bidder], [Time])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Offers2]
GO
ALTER TABLE [dbo].[Treatments]  WITH NOCHECK ADD  CONSTRAINT [Self] FOREIGN KEY([Parent])
REFERENCES [dbo].[Treatments] ([TID])
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [Self]
GO
ALTER TABLE [dbo].[Versions]  WITH NOCHECK ADD  CONSTRAINT [FK_Versions_Groups] FOREIGN KEY([Treatment], [Group#])
REFERENCES [dbo].[Groups] ([Treatment], [Group#])
GO
ALTER TABLE [dbo].[Versions] CHECK CONSTRAINT [FK_Versions_Groups]
GO
ALTER TABLE [dbo].[Versions]  WITH NOCHECK ADD  CONSTRAINT [Proposer_User] FOREIGN KEY([Proposer])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Versions] CHECK CONSTRAINT [Proposer_User]
GO
ALTER TABLE [dbo].[Voting]  WITH CHECK ADD  CONSTRAINT [Choice_Version] FOREIGN KEY([Treatment], [Group#], [Period], [Choice])
REFERENCES [dbo].[Versions] ([Treatment], [Group#], [Period], [Choice])
GO
ALTER TABLE [dbo].[Voting] CHECK CONSTRAINT [Choice_Version]
GO
ALTER TABLE [dbo].[Voting]  WITH CHECK ADD  CONSTRAINT [Voter_User] FOREIGN KEY([Voter])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Voting] CHECK CONSTRAINT [Voter_User]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [CK_Offers_Column1] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [CK_Offers_Column1]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [CK_Offers_Column2] CHECK  (([TotalVol]>=(0)))
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [CK_Offers_Column2]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [CK_Offers_Column3] CHECK  (([UnFullfilled]>=(0)))
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [CK_Offers_Column3]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [EndingPrice] CHECK  (([Price2]>=(0)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [EndingPrice]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [NonNegative] CHECK  (([UnFullfilled]>=(0)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [NonNegative]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [NonZero] CHECK  (([DShare]<>(0)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [NonZero]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [StartPrice] CHECK  (([Price1]>=(0)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [StartPrice]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [Balance0] CHECK  (([Balance]>=(0)))
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [Balance0]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [Treatment0] CHECK  (([Treatment]>=(0)))
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [Treatment0]
GO
ALTER TABLE [dbo].[Shares]  WITH NOCHECK ADD  CONSTRAINT [BalanceConfirm] CHECK  (([BalanceConfirm]>=(0)))
GO
ALTER TABLE [dbo].[Shares] CHECK CONSTRAINT [BalanceConfirm]
GO
ALTER TABLE [dbo].[Shares]  WITH NOCHECK ADD  CONSTRAINT [BalanceVoid] CHECK  (([BalanceVoid]>=(0)))
GO
ALTER TABLE [dbo].[Shares] CHECK CONSTRAINT [BalanceVoid]
GO
ALTER TABLE [dbo].[Shares]  WITH NOCHECK ADD  CONSTRAINT [Volume] CHECK  (([Volume]>=(0)))
GO
ALTER TABLE [dbo].[Shares] CHECK CONSTRAINT [Volume]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [Amount] CHECK  (([Vol]>(0)))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [Amount]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [Price]
GO
ALTER TABLE [dbo].[Versions]  WITH CHECK ADD  CONSTRAINT [Score] CHECK  (([Score]>=(0)))
GO
ALTER TABLE [dbo].[Versions] CHECK CONSTRAINT [Score]
GO
/****** Object:  StoredProcedure [dbo].[Bonding]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Dr Hamed Khaledi>
-- Create date: <2018>
-- Description:	<Parallel Primary Markets>
-- =============================================

CREATE PROCEDURE [dbo].[Bonding]
( 
	@Treatment INT, 
	@Group INT,
	@Period INT, 
	@Choice INT, 
	@Bidder NVARCHAR(50),
	@Shares1Rounded FLOAT,
	@DShare FLOAT
)
AS
SET XACT_ABORT ON;

BEGIN TRANSACTION

--**************************** Shares1 / Shares2 / Price1 / Price2 / dfund ***********************
BEGIN TRY

	IF (@DShare < -10000 OR @DShare > 10000 OR @DShare = 0 OR @Shares1Rounded < -10000 OR @Shares1Rounded > 10000) 
	BEGIN
		ROLLBACK TRANSACTION;
		INSERT INTO ErrorLog VALUES (GETDATE(),28, 'Out of Range', 2);
		RETURN 20;
	END;

	DECLARE @A FLOAT, @B FLOAT, @Price1 FLOAT, @Price2 FLOAT, @Shares1 FLOAT, @Shares2 FLOAT, @DFund FLOAT, @UnFull FLOAT = 0;

	SELECT @Shares1 = Score FROM Versions
		WHERE (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);

	IF ABS(@Shares1 - @Shares1Rounded) > .001 
	BEGIN
		ROLLBACK TRANSACTION;
		INSERT INTO ErrorLog VALUES (GETDATE(),41, 'Price Changed: Difference=' + CAST(@Shares1 - @Shares1Rounded AS VARCHAR), 3);
		RETURN 30;
	END;

	SELECT @A = A , @B = B FROM Groups
	WHERE (Treatment = @Treatment) AND([Group#] = @Group);

--	SET @A = 1; SET @B = 1;

	SET @Price1 = @A*@Shares1 + @B;

END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	INSERT INTO ErrorLog VALUES (GETDATE(),ERROR_NUMBER(), ERROR_MESSAGE(), 4);		
	RETURN ERROR_NUMBER();
END CATCH	


IF @DShare > 0
--*****************************BUYER********************************
BEGIN
BEGIN TRY
	SET @Shares2 = @Shares1 + @DShare;
	SET @DFund = @DShare * ( .5 * @A * (@Shares1 + @Shares2) + @B);

	DECLARE @Confirm FLOAT;
	SELECT @Confirm = COALESCE(BalanceConfirm,0)
	FROM Shares 
	WHERE ([Owner] = @Bidder) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);	

	--IF @Confirm IS NULL -- No BalanceConfirm
	--BEGIN
	--	IF @Cash < @DFund BEGIN
	--		SET @DFund = @Cash;
	--		SET @Shares2 = (-@B + SQRT(@B * @B + @Price1 *@Price1 + 2 * @A * @DFund) ) / @A;
	--		SET @DShare = @Shares2 - @Shares1;
	--	END;

	--	UPDATE People SET Balance = Balance -  @DFund WHERE ID = @Bidder;
	--	INSERT INTO Shares VALUES (@Bidder, @Treatment, @Group, @Period, @Choice, @DShare, 0, @DFund);
		
	--END 
	--ELSE 

	IF @Confirm < @DFund -- Need Money Transfer From People.Balance
	BEGIN 
		DECLARE @EndBalance FLOAT;
		SELECT @EndBalance = Balance + @Confirm - @DFund FROM People WHERE ID=@Bidder;

		IF @EndBalance < 0 BEGIN
			SET @DFund = @DFund + @EndBalance;

			IF @DFund <= 0 BEGIN
				ROLLBACK TRANSACTION;
				INSERT INTO ErrorLog VALUES (GETDATE(),95, 'DFund decreased to: ' + CAST(@DFund AS VARCHAR) , 11);		
				RETURN ERROR_NUMBER();	
			END;

			SET @EndBalance = 0;
			SET @Shares2 = (-@B + SQRT(@Price1*@Price1 + 2 * @A * @DFund) ) / @A;
			
			SET @UnFull = @Dshare - @Shares2 + @Shares1;
			SET @DShare = @Shares2 - @Shares1;					   			 		  		  		 	   			   	 
		END;

		UPDATE People SET Balance = @EndBalance WHERE ID = @Bidder; 
		UPDATE Shares SET BalanceConfirm = 0, BalanceVoid = BalanceVoid + @DFund - @Confirm , Volume = Volume + @DShare 
			WHERE ([Owner] = @Bidder) AND (Treatment = @Treatment) AND ([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
	END
	ELSE
	BEGIN -- No Money Transfer From People.Balance				
		UPDATE Shares SET BalanceConfirm = BalanceConfirm - @DFund, Volume = Volume + @DShare 
			WHERE ([Owner] = @Bidder) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
	END;

END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	INSERT INTO ErrorLog VALUES (GETDATE(),ERROR_NUMBER(), ERROR_MESSAGE(), 5);		
	RETURN ERROR_NUMBER();	
END CATCH	

END
ELSE --****************************SELLER ******************************
BEGIN
BEGIN TRY
	--SET @DShare = -@DShare;

	DECLARE @AvShare FLOAT;
	SELECT @AvShare = Volume FROM Shares
		WHERE ([Owner] = @Bidder) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
	
	IF @AvShare > @Shares1 BEGIN		
		INSERT INTO ErrorLog VALUES (GETDATE(), 137, 'Av Share not match: ' + CAST((@AvShare - @Shares1) AS VARCHAR) , 9);
		IF @AvShare - @Shares1 > .01 BEGIN
			ROLLBACK TRANSACTION;
			RETURN 137;  	 
		END;

		SET @AvShare = @Shares1;

	END;
	
	IF @AvShare < -@DShare BEGIN		
		SET @UnFull = -@DShare - @AvShare;
		SET @DShare = -@AvShare;		
		IF @DShare >= 0 BEGIN
				ROLLBACK TRANSACTION;
				INSERT INTO ErrorLog VALUES (GETDATE(),144, 'AvShare = DShare = ' + CAST(@DShare AS VARCHAR) , 12);		
				RETURN ERROR_NUMBER();
		END;
	END;
		
	SET @Shares2 = @Shares1 + @DShare;
	SET @DFund = @DShare * ( .5 * @A * (@Shares1 + @Shares2) + @B);

	UPDATE Shares SET BalanceConfirm = BalanceConfirm - @DFund, Volume = Volume + @DShare 
		WHERE ([Owner] = @Bidder) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);

	-- SET @DFund = -@DFund;

	DECLARE @MinB FLOAT;

	-- A choice will be voided or confirmed.
	SELECT @MinB = CASE WHEN BalanceVoid > BalanceConfirm THEN BalanceConfirm ELSE BalanceVoid END
		FROM Shares
		WHERE ([Owner] = @Bidder) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
	
	IF @MinB > 0
	BEGIN
		UPDATE Shares SET BalanceConfirm = BalanceConfirm - @MinB , BalanceVoid = BalanceVoid - @MinB
			WHERE ([Owner] = @Bidder) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);

		UPDATE People SET Balance = Balance + @MinB
			WHERE ([ID] = @Bidder)
	END;

	-- One choice will be confirmed.
	SELECT @MinB = MIN(BalanceConfirm)
		FROM Shares	WHERE ([Owner] = @Bidder) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period);
				
	IF @MinB > 0
	BEGIN
		UPDATE Shares SET BalanceConfirm = BalanceConfirm - @MinB
			WHERE ([Owner] = @Bidder) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period);

		UPDATE People SET Balance = Balance + @MinB
			WHERE ([ID] = @Bidder)
	END;

END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	INSERT INTO ErrorLog VALUES (GETDATE(),ERROR_NUMBER(), ERROR_MESSAGE(), 6);
	RETURN ERROR_NUMBER();
END CATCH	

END; -- END ELSE

BEGIN TRY
	DECLARE @SumShares FLOAT;
	SELECT @SumShares = SUM(Volume) FROM Shares
		WHERE (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);

	IF ABS(@Shares2 - @SumShares) > .01 BEGIN
		INSERT INTO ErrorLog VALUES (GETDATE(), 209, 'Sum Shares not match: ' + CAST((@SumShares - @Shares2) AS VARCHAR) , 8);
		ROLLBACK TRANSACTION;
		RETURN 209;
	END;

	--**************************** OFFER / Order / TRANSACTION ***********************
	INSERT INTO Orders VALUES (@Treatment, @Group, @Period, @Choice, @Bidder, GETDATE(), @DShare, @UnFull, @Price1, @A*@Shares2 + @B);

	--**************************** UPDATE Total Shares & Price ******************************
	UPDATE Versions SET Score = @Shares2 , Fund = Fund + @DFund
		WHERE (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);

END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	INSERT INTO ErrorLog VALUES (GETDATE(),ERROR_NUMBER(), ERROR_MESSAGE(), 7);
	RETURN ERROR_NUMBER();
END CATCH

COMMIT TRANSACTION;
RETURN 1;
GO
/****** Object:  StoredProcedure [dbo].[Del]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Del]
	@Treatment INT, 
	@Group INT,
	@Period INT,
	@Choice INT
AS
BEGIN TRANSACTION;
BEGIN TRY	
	DELETE FROM Shares WHERE Treatment = @Treatment AND Group# = @Group AND Period = @Period AND Choice >= @Choice;
	DELETE FROM Versions WHERE Treatment = @Treatment AND Group# = @Group AND Period = @Period AND Choice = @Choice;
	UPDATE Versions SET Choice = Choice - 1 WHERE Treatment = @Treatment AND Group# = @Group AND Period = @Period AND Choice > @Choice;
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	INSERT INTO ErrorLog VALUES (GETDATE(),ERROR_NUMBER(), ERROR_MESSAGE(), 50);
	--PRINT  CAST(ERROR_NUMBER() AS VARCHAR) + ' Error in deleting version: ' + ERROR_MESSAGE();
	RETURN ERROR_NUMBER();
END CATCH;
COMMIT TRANSACTION;
PRINT 'Completed Deleting';
RETURN 1;
GO
/****** Object:  StoredProcedure [dbo].[Orient]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Orient]
( 
	@Treatment INT, 
	@Group INT,
	@User NVARCHAR(50),
	@Vol REAL
)
AS
BEGIN TRANSACTION
BEGIN TRY		
	--DECLARE @CurrentTime DATETIME = GETDATE();
	--DECLARE @Score REAL;

	--SELECT @Score = Score 
	--		FROM Versions 
	--		WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period AND Choice = 0;

	--INSERT INTO Offers VALUES (@Treatment, @Group, @Period, 0, 'Experimenter', @CurrentTime, @Score, 0, 0, 0);	 

	--INSERT INTO Transactions VALUES (@Treatment, @Group, @Period, 0, 'Experimenter', @CurrentTime, 'Experimenter', @CurrentTime, @Score, 0);

	--UPDATE Versions SET Score = @Score WHERE Treatment = @Treatment AND Group# = @Group AND [Period] = @Period;
				
	DECLARE @m INT;
	SELECT @m = COUNT(Choice) 	
	FROM Versions 
	WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = 2;
	
	DECLARE @i INT = 0;
	WHILE @i < @m
	BEGIN
		INSERT INTO Shares
		VALUES (@User, @Treatment, @Group, 2, @i, @Vol, 0, 0);

		SET @i = @i + 1 ;
	END;

END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	INSERT INTO ErrorLog VALUES (GETDATE(),ERROR_NUMBER(), ERROR_MESSAGE(), 40);
	--PRINT  CAST(ERROR_NUMBER() AS VARCHAR) + ' Error in StartTrading: ' + ERROR_MESSAGE();
	RETURN ERROR_NUMBER();
END CATCH;	
COMMIT TRANSACTION;
PRINT 'Completed';
RETURN 1;
GO
/****** Object:  StoredProcedure [dbo].[ResetGroup]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetGroup]
	@TID INT = 1
AS

DELETE FROM Orders WHERE Treatment = @TID;

DELETE FROM Shares WHERE Treatment = @TID AND Period > 2;

DELETE FROM Chats WHERE Treatment = @TID;

UPDATE Shares SET Volume = 0 , BalanceConfirm = 0 , BalanceVoid = 0 WHERE Treatment = @TID AND Period = 2;

SELECT * FROM Shares WHERE Treatment = @TID;

UPDATE People SET Balance = 100 , ShareBalance = 0 , FinalBalance = 0 , Completed = NULL WHERE Treatment = @TID;

SELECT * FROM People WHERE Treatment = @TID;

UPDATE Versions SET Score = 0 , Fund = 0 WHERE Treatment = @TID;

UPDATE Groups SET Period = 0, Starting =  DATEADD(MINUTE, 10, GETDATE()), DT =  DATEADD(MINUTE, 10, GETDATE())  WHERE Treatment = @TID;

RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[SetSuggestions]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetSuggestions]
( 
	@Treatment INT, 
	@Group INT,
	@Period INT 
)
AS
BEGIN	
BEGIN TRANSACTION
BEGIN TRY		
	--DECLARE @CurrentTime DATETIME = GETDATE();
	--DECLARE @Score REAL;

	--SELECT @Score = Score 
	--		FROM Versions 
	--		WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period AND Choice = 0;

	--INSERT INTO Offers VALUES (@Treatment, @Group, @Period, 0, 'Experimenter', @CurrentTime, @Score, 0, 0, 0);	 

	--INSERT INTO Transactions VALUES (@Treatment, @Group, @Period, 0, 'Experimenter', @CurrentTime, 'Experimenter', @CurrentTime, @Score, 0);

	--UPDATE Versions SET Score = @Score WHERE Treatment = @Treatment AND Group# = @Group AND [Period] = @Period;
				
	DECLARE @m INT;
	SELECT @m = COUNT(Choice) 	
	FROM Versions 
	WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period;
	
	DECLARE @i INT = 1;
	WHILE @i < @m
	BEGIN
		INSERT INTO Shares
			SELECT Owner , Treatment , Group# , [Period] , @i , Volume , 0 , 0
            FROM Shares
            WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period AND Choice = 0;

		SET @i = @i + 1 ;
	END;

END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	INSERT INTO ErrorLog VALUES (GETDATE(),ERROR_NUMBER(), ERROR_MESSAGE(), 30);
	--PRINT  CAST(ERROR_NUMBER() AS VARCHAR) + ' Error in SetSuggestions: ' + ERROR_MESSAGE();
	RETURN ERROR_NUMBER();
END CATCH;	
COMMIT TRANSACTION;
PRINT 'Completed';
RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[Transact]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Transact]
( 
	@Treatment INT, 
	@Group INT,
	@Period INT, 
	@Choice INT, 
	@Seller NVARCHAR(50),
	@Sell_Time DATETIME,
	@Buyer NVARCHAR(50),
	@Buy_Time DATETIME,
	@Price REAL,
	@Vol REAL
)
AS
BEGIN	
BEGIN TRANSACTION

--***************************TRANSACTIONS***********************
BEGIN TRY
	INSERT INTO Transactions VALUES (@Treatment, @Group, @Period, @Choice, @Seller, @Sell_Time, @Buyer, @Buy_Time, @Price, @Vol);
	--UPDATE Versions SET Score = @Price WHERE (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	INSERT INTO ErrorLog VALUES (GETDATE(),ERROR_NUMBER(), ERROR_MESSAGE(), 1);
	--PRINT  CAST(ERROR_NUMBER() AS VARCHAR) + ' Error in Transactions: ' + ERROR_MESSAGE();
	RETURN ERROR_NUMBER();
END CATCH;
	   
--****************************OFFERS FULLFILL***********************
BEGIN TRY
	UPDATE Offers
	SET UnFullfilled = UnFullfilled - @Vol
	WHERE (([Bidder] = @Seller AND [Time]=@Sell_Time) OR ([Bidder] = @Buyer AND [Time]=@Buy_Time)) 
		AND (Treatment = @Treatment) AND([Group#] = @Group) AND ([Period] = @Period) AND (Choice = @Choice);
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	INSERT INTO ErrorLog VALUES (GETDATE(),ERROR_NUMBER(), ERROR_MESSAGE(), 2);
	--PRINT  CAST(ERROR_NUMBER() AS VARCHAR) + ' Error in OFFER: ' + ERROR_MESSAGE();
	RETURN ERROR_NUMBER();
END CATCH

--****************************SELLER ******************************
BEGIN TRY
	UPDATE Shares SET BalanceConfirm = BalanceConfirm + @Vol * @Price, Volume = Volume - @Vol WHERE ([Owner] = @Seller) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);

	DECLARE @MinB FLOAT;
	SELECT @MinB = CASE WHEN BalanceVoid > BalanceConfirm THEN BalanceConfirm ELSE BalanceVoid END
		FROM Shares
		WHERE ([Owner] = @Seller) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
				
	PRINT 'MinB = ' + CAST(@MinB AS VARCHAR);
	
	IF @MinB > 0
	BEGIN
		PRINT 'MinB > 0 ';

		UPDATE Shares
		SET BalanceConfirm = BalanceConfirm - @MinB , BalanceVoid = BalanceVoid - @MinB
		WHERE ([Owner] = @Seller) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);	

		UPDATE People 
		SET Balance = Balance + @MinB
		WHERE ([ID] = @Seller)
	END;
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	INSERT INTO ErrorLog VALUES (GETDATE(),ERROR_NUMBER(), ERROR_MESSAGE(), 3);
	--PRINT CAST(ERROR_NUMBER() AS VARCHAR) + ' Shares Seller: ' + ERROR_MESSAGE();
	RETURN ERROR_NUMBER(); -- 547 : Seller does not have enough Shares.
END CATCH	

--*****************************BUYER********************************
	
BEGIN TRY
	DECLARE @Deficit FLOAT;
	SELECT @Deficit = @Vol * @Price - BalanceConfirm 
	FROM Shares 
	WHERE ([Owner] = @Buyer) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);

	IF @Deficit IS NULL
	BEGIN
		INSERT INTO Shares VALUES (@Buyer, @Treatment, @Group, @Period, @Choice, @Vol, 0, @Vol * @Price);
		UPDATE People SET Balance = Balance - @Vol * @Price WHERE ID = @Buyer;
		RETURN 2;
	END
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	INSERT INTO ErrorLog VALUES (GETDATE(),ERROR_NUMBER(), ERROR_MESSAGE(), 4);		
	RETURN ERROR_NUMBER();
	--PRINT  CAST(ERROR_NUMBER() AS VARCHAR) + ' Did not INSERT for Buyer: ' + ERROR_MESSAGE();
	--IF ERROR_NUMBER() = 2627		
END CATCH	

--Updates existing shares balances.
BEGIN TRY
	IF @Deficit <= 0
	BEGIN -- No Money Transfer From People.Balance				
		--PRINT 'Deficit <= 0';
		UPDATE Shares SET BalanceConfirm = BalanceConfirm - @Vol * @Price, Volume = Volume + @Vol WHERE ([Owner] = @Buyer) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
	END
	ELSE
	BEGIN -- With Money Transfer From People.Balance
		--PRINT 'Deficit > 0';
		UPDATE People SET Balance = Balance - @Deficit WHERE ID = @Buyer; 
		UPDATE Shares SET BalanceConfirm = 0, BalanceVoid = BalanceVoid + @Deficit , Volume = Volume + @Vol 
			WHERE ([Owner] = @Buyer) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
	END;
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	INSERT INTO ErrorLog VALUES (GETDATE(),ERROR_NUMBER(), ERROR_MESSAGE(), 5);
	--PRINT CAST(ERROR_NUMBER() AS VARCHAR) + ' UPDATE Buyer: ' + ERROR_MESSAGE() ;
	RETURN ERROR_NUMBER(); -- 547 : Buyer does not have enough Balance
END CATCH;
COMMIT TRANSACTION;
--PRINT 'Completed';
RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[Winning]    Script Date: 4/20/2020 6:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Winning]
( 
	@Treatment INT, 
	@Group INT,
	@Period INT, 
	@Winner INT	
)
AS
BEGIN	
BEGIN TRANSACTION
BEGIN TRY
	UPDATE People SET Balance = Balance 
								+ (SELECT COALESCE(BalanceConfirm, 0) FROM Shares WHERE [Owner] = People.ID AND Choice = @Winner AND [Period] = @Period)
								+ (SELECT COALESCE(SUM(BalanceVoid),0) FROM Shares WHERE [Owner] = People.ID AND Choice != @Winner AND [Period] = @Period)
	WHERE Treatment = @Treatment AND [Group#] = @Group;
	
	DECLARE @Score FLOAT, @Fund FLOAT;

	SELECT @Score = Score, @Fund = Fund FROM Versions 
		WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period+2 AND Choice = 0;
		--AND [Period] = @Period AND Choice = @Winner;

	UPDATE Versions SET Score = @Score, Fund = @Fund
		WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period + 2;

    DECLARE @m INT;
	SELECT @m = COUNT(Choice)	FROM Versions 
		WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period + 2;
	
	DECLARE @i INT = 0;
	WHILE @i < @m
	BEGIN
		INSERT INTO Shares
			SELECT Owner , Treatment , Group# , [Period] + 2 , @i , Volume , 0 , 0
            FROM Shares
            WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period AND Choice = @Winner;

		SET @i = @i + 1;
	END;

	--INSERT INTO Offers SELECT  Treatment, Group#, @Period + 2 , 0, Bidder, [Time] , Price, UnFullfilled, UnFullfilled, Buy0Sell1
    --                      FROM Offers
    --                      WHERE Treatment = @Treatment AND [Group#] = @Group AND [Period] = @Period AND Choice = @Winner AND UnFullfilled>0;

END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION;
	INSERT INTO ErrorLog VALUES (GETDATE(),ERROR_NUMBER(), ERROR_MESSAGE(), 10);
	--PRINT  CAST(ERROR_NUMBER() AS VARCHAR) + ' Error in Winning: ' + ERROR_MESSAGE();
	RETURN ERROR_NUMBER();
END CATCH;	
COMMIT TRANSACTION;
PRINT 'Completed';
RETURN 1;
END
GO
USE [master]
GO
