USE [master]
GO
/****** Object:  Database [Hamed_MSU_EDU]    Script Date: 3/18/2019 8:15:37 PM ******/
CREATE DATABASE [Hamed_MSU_EDU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HAMED-CONSTITUTION_BROAD_MSU_EDU', FILENAME = N'B:\MSSQL13.MSBSQLC\MSSQL\DATA\Hamed_MSU_EDU.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HAMED-CONSTITUTION_BROAD_MSU_EDU_log', FILENAME = N'B:\MSSQL13.MSBSQLC\MSSQL\Logs\Hamed_MSU_EDU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hamed_MSU_EDU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hamed_MSU_EDU]
GO
USE [Hamed_MSU_EDU]
GO
/****** Object:  User [AUSTIN\msb-iu-hk8486]    Script Date: 3/18/2019 8:15:37 PM ******/
CREATE USER [AUSTIN\msb-iu-hk8486] FOR LOGIN [AUSTIN\msb-iu-hk8486] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AUSTIN\hk8486]    Script Date: 3/18/2019 8:15:37 PM ******/
CREATE USER [AUSTIN\hk8486] FOR LOGIN [AUSTIN\hk8486] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [AUSTIN\msb-iu-hk8486]
GO
ALTER ROLE [db_owner] ADD MEMBER [AUSTIN\hk8486]
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 3/18/2019 8:15:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[Treatment] [int] NULL,
	[Group#] [int] NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Message] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Chats] PRIMARY KEY CLUSTERED 
(
	[Writer] ASC,
	[Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 3/18/2019 8:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NULL,
	[DT] [datetime] NULL,
	[Starting] [datetime] NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Treatment] ASC,
	[Group#] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offers]    Script Date: 3/18/2019 8:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offers](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Bidder] [nvarchar](50) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Price] [real] NOT NULL,
	[Amount] [real] NOT NULL,
	[UnFullfilled] [real] NOT NULL,
	[Buy0Sell1] [bit] NOT NULL,
 CONSTRAINT [PK_Offers] PRIMARY KEY CLUSTERED 
(
	[Treatment] DESC,
	[Group#] DESC,
	[Period] DESC,
	[Choice] ASC,
	[Bidder] ASC,
	[Time] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 3/18/2019 8:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[Education] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [smallint] NULL,
	[EnglishSpeaker] [bit] NULL,
	[Treatment] [int] NULL,
	[Group#] [int] NULL,
	[QualificationTime] [datetime] NULL,
	[Rater] [bit] NOT NULL,
	[Balance] [real] NULL,
	[ExtraVote] [int] NULL,
	[Representative] [nvarchar](50) NULL,
	[Suspended] [datetime] NULL,
	[Completed] [datetime] NULL,
	[InitialScore] [int] NULL,
	[Nonce] [uniqueidentifier] NOT NULL,
	[HashP] [binary](32) NOT NULL,
	[Score1] [int] NULL,
	[Score2] [int] NULL,
	[Score3] [int] NULL,
	[Score4] [int] NULL,
	[Response1] [nvarchar](max) NULL,
	[Response2] [nvarchar](max) NULL,
	[Response3] [nvarchar](max) NULL,
	[Verified] [bit] NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 3/18/2019 8:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingUser] [nvarchar](50) NOT NULL,
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[FinalScore] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingUser] ASC,
	[Treatment] ASC,
	[Group#] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shares]    Script Date: 3/18/2019 8:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shares](
	[Owner] [nvarchar](50) NOT NULL,
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Volume] [real] NOT NULL,
 CONSTRAINT [PK_Ownership] PRIMARY KEY CLUSTERED 
(
	[Owner] ASC,
	[Treatment] ASC,
	[Group#] ASC,
	[Period] ASC,
	[Choice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 3/18/2019 8:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Seller] [nvarchar](50) NOT NULL,
	[Sell_Time] [datetime] NOT NULL,
	[Buyer] [nvarchar](50) NOT NULL,
	[Buy_Time] [datetime] NOT NULL,
	[Price] [real] NOT NULL,
	[Amount] [real] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Treatment] DESC,
	[Group#] DESC,
	[Period] DESC,
	[Choice] ASC,
	[Seller] ASC,
	[Sell_Time] DESC,
	[Buyer] ASC,
	[Buy_Time] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatments]    Script Date: 3/18/2019 8:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[TID] [int] NOT NULL,
	[Parent] [int] NULL,
	[Constitution] [nvarchar](max) NULL,
	[Hypothesis] [nvarchar](max) NULL,
	[M] [int] NOT NULL,
	[Ta] [real] NOT NULL,
	[Tz] [real] NOT NULL,
	[Tf] [real] NOT NULL,
	[Tp] [real] NOT NULL,
	[Tv] [real] NOT NULL,
	[Te] [real] NOT NULL,
	[E] [real] NULL,
	[Compensation] [real] NOT NULL,
	[Reward] [real] NOT NULL,
	[RewardsCount] [int] NULL,
	[Rv] [real] NOT NULL,
	[Ro] [real] NOT NULL,
	[BetFee] [real] NOT NULL,
	[SuggestionFee] [real] NULL,
	[V] [int] NOT NULL,
	[W] [int] NOT NULL,
	[Meritocracy] [smallint] NULL,
	[Merit2All] [bit] NULL,
	[VoteChange] [bit] NOT NULL,
	[Proxy] [bit] NULL,
	[MultiStage] [bit] NULL,
	[MultiChoice] [bit] NULL,
	[MV] [bit] NULL,
	[Valuation] [smallint] NULL,
	[AuctionSort] [bit] NULL,
	[PerGroup] [int] NOT NULL,
 CONSTRAINT [PK__Treatmen__C456D72932B76232] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Versions]    Script Date: 3/18/2019 8:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Versions](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Artifact] [nvarchar](max) NOT NULL,
	[HtmlArtifact] [nvarchar](max) NULL,
	[Proposer] [nvarchar](50) NOT NULL,
	[Time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Treatment] ASC,
	[Group#] ASC,
	[Period] ASC,
	[Choice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voting]    Script Date: 3/18/2019 8:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voting](
	[Treatment] [int] NOT NULL,
	[Group#] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Choice] [int] NOT NULL,
	[Stage] [int] NOT NULL,
	[Voter] [nvarchar](50) NOT NULL,
	[Time] [datetime] NOT NULL,
	[VoteWeight] [int] NOT NULL,
	[Value] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Treatment] ASC,
	[Group#] ASC,
	[Period] ASC,
	[Choice] ASC,
	[Stage] ASC,
	[Voter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Offers] ADD  CONSTRAINT [DF_Offers_Volume]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[Offers] ADD  CONSTRAINT [DF_Offers_Fullfilled]  DEFAULT ((0)) FOR [UnFullfilled]
GO
ALTER TABLE [dbo].[Offers] ADD  DEFAULT ((0)) FOR [Buy0Sell1]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((0)) FOR [Rater]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((0)) FOR [ExtraVote]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT (newid()) FOR [Nonce]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((0)) FOR [HashP]
GO
ALTER TABLE [dbo].[People] ADD  DEFAULT ((1)) FOR [Verified]
GO
ALTER TABLE [dbo].[Rating] ADD  DEFAULT ((1)) FOR [Group#]
GO
ALTER TABLE [dbo].[Shares] ADD  DEFAULT ((0)) FOR [Volume]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__M__33D4B598]  DEFAULT ((1)) FOR [M]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Ta__34C8D9D1]  DEFAULT ((1)) FOR [Ta]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Tz__35BCFE0A]  DEFAULT ((60)) FOR [Tz]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Tf__36B12243]  DEFAULT ((30)) FOR [Tf]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Tp__37A5467C]  DEFAULT ((1)) FOR [Tp]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Tv__38996AB5]  DEFAULT ((1)) FOR [Tv]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Te__398D8EEE]  DEFAULT ((0)) FOR [Te]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Compe__3A81B327]  DEFAULT ((0)) FOR [Compensation]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Rewar__3B75D760]  DEFAULT ((0)) FOR [Reward]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Rewar__3C69FB99]  DEFAULT ((1)) FOR [RewardsCount]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Rv__3D5E1FD2]  DEFAULT ((0)) FOR [Rv]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__Ro__3E52440B]  DEFAULT ((0)) FOR [Ro]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__BetFe__3F466844]  DEFAULT ((0)) FOR [BetFee]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Sugge__403A8C7D]  DEFAULT ((0)) FOR [SuggestionFee]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__V__412EB0B6]  DEFAULT ((0)) FOR [V]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__W__4222D4EF]  DEFAULT ((0)) FOR [W]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Merit__4316F928]  DEFAULT ((0)) FOR [Meritocracy]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Merit__440B1D61]  DEFAULT ((0)) FOR [Merit2All]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__VoteC__44FF419A]  DEFAULT ((0)) FOR [VoteChange]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Proxy__45F365D3]  DEFAULT ((0)) FOR [Proxy]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Multi__46E78A0C]  DEFAULT ((0)) FOR [MultiStage]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Multi__47DBAE45]  DEFAULT ((0)) FOR [MultiChoice]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatments__MV__48CFD27E]  DEFAULT ((0)) FOR [MV]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Valua__49C3F6B7]  DEFAULT ((0)) FOR [Valuation]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__Aucti__4AB81AF0]  DEFAULT ((0)) FOR [AuctionSort]
GO
ALTER TABLE [dbo].[Treatments] ADD  CONSTRAINT [DF__Treatment__PerGr__4BAC3F29]  DEFAULT ((50)) FOR [PerGroup]
GO
ALTER TABLE [dbo].[Versions] ADD  DEFAULT ((1)) FOR [Group#]
GO
ALTER TABLE [dbo].[Voting] ADD  DEFAULT ((1)) FOR [Group#]
GO
ALTER TABLE [dbo].[Voting] ADD  DEFAULT ((0)) FOR [Period]
GO
ALTER TABLE [dbo].[Voting] ADD  DEFAULT ((0)) FOR [Choice]
GO
ALTER TABLE [dbo].[Voting] ADD  DEFAULT ((0)) FOR [Stage]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [FK_Chats_Groups] FOREIGN KEY([Treatment], [Group#])
REFERENCES [dbo].[Groups] ([Treatment], [Group#])
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [FK_Chats_Groups]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [FK_Chats_People] FOREIGN KEY([Writer])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [FK_Chats_People]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Treatments] FOREIGN KEY([Treatment])
REFERENCES [dbo].[Treatments] ([TID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Treatments]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_People] FOREIGN KEY([Bidder])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_People]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Versions] FOREIGN KEY([Treatment], [Group#], [Period], [Choice])
REFERENCES [dbo].[Versions] ([Treatment], [Group#], [Period], [Choice])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Versions]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Groups] FOREIGN KEY([Treatment], [Group#])
REFERENCES [dbo].[Groups] ([Treatment], [Group#])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Groups]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_People] FOREIGN KEY([Representative])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_People]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Groups] FOREIGN KEY([Treatment], [Group#])
REFERENCES [dbo].[Groups] ([Treatment], [Group#])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Groups]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [User_Rater] FOREIGN KEY([RatingUser])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [User_Rater]
GO
ALTER TABLE [dbo].[Shares]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_People] FOREIGN KEY([Owner])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Shares] CHECK CONSTRAINT [FK_Ownership_People]
GO
ALTER TABLE [dbo].[Shares]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Versions] FOREIGN KEY([Treatment], [Group#], [Period], [Choice])
REFERENCES [dbo].[Versions] ([Treatment], [Group#], [Period], [Choice])
GO
ALTER TABLE [dbo].[Shares] CHECK CONSTRAINT [FK_Ownership_Versions]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Offers] FOREIGN KEY([Treatment], [Group#], [Period], [Choice], [Seller], [Sell_Time])
REFERENCES [dbo].[Offers] ([Treatment], [Group#], [Period], [Choice], [Bidder], [Time])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Offers]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Offers1] FOREIGN KEY([Treatment], [Group#], [Period], [Choice], [Buyer], [Buy_Time])
REFERENCES [dbo].[Offers] ([Treatment], [Group#], [Period], [Choice], [Bidder], [Time])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Offers1]
GO
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [Self] FOREIGN KEY([Parent])
REFERENCES [dbo].[Treatments] ([TID])
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [Self]
GO
ALTER TABLE [dbo].[Versions]  WITH CHECK ADD  CONSTRAINT [FK_Versions_Groups] FOREIGN KEY([Treatment], [Group#])
REFERENCES [dbo].[Groups] ([Treatment], [Group#])
GO
ALTER TABLE [dbo].[Versions] CHECK CONSTRAINT [FK_Versions_Groups]
GO
ALTER TABLE [dbo].[Versions]  WITH CHECK ADD  CONSTRAINT [Proposer_User] FOREIGN KEY([Proposer])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Versions] CHECK CONSTRAINT [Proposer_User]
GO
ALTER TABLE [dbo].[Voting]  WITH CHECK ADD  CONSTRAINT [Choice_Version] FOREIGN KEY([Treatment], [Group#], [Period], [Choice])
REFERENCES [dbo].[Versions] ([Treatment], [Group#], [Period], [Choice])
GO
ALTER TABLE [dbo].[Voting] CHECK CONSTRAINT [Choice_Version]
GO
ALTER TABLE [dbo].[Voting]  WITH CHECK ADD  CONSTRAINT [Voter_User] FOREIGN KEY([Voter])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Voting] CHECK CONSTRAINT [Voter_User]
GO
/****** Object:  StoredProcedure [dbo].[Transact]    Script Date: 3/18/2019 8:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Transact]
( 
	@Treatment INT, 
	@Group INT,
	@Period INT, 
	@Choice INT, 
	@Seller NVARCHAR(50),
	@Sell_Time DATETIME,
	@Buyer NVARCHAR(50),
	@Buy_Time DATETIME,
	@Price REAL,
	@Vol REAL
)
AS
BEGIN
    INSERT INTO Transactions VALUES (@Treatment, @Group, @Period, @Choice, @Seller, @Sell_Time, @Buyer, @Buy_Time, @Price, @Vol);

	UPDATE People SET Balance = Balance + @Vol * @Price WHERE ID = @Seller;
	UPDATE People SET Balance = Balance - @Vol * @Price WHERE ID = @Buyer;	

	UPDATE Shares SET Volume = Volume - @Vol WHERE ([Owner] = @Seller) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
    UPDATE Shares SET Volume = Volume + @Vol WHERE ([Owner] = @Seller) AND (Treatment = @Treatment) AND([Group#] = @Group) AND (Period = @Period) AND (Choice = @Choice);
	INSERT INTO Shares VALUES (@Buyer, @Treatment, @Group, @Period, @Choice, @Vol);

	RETURN 1;
END
GO
USE [master]
GO
