<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://faculty.mccombs.utexas.edu/hamed.khaledi/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>    
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>faculty.mccombs.utexas.edu</MSDeployServiceURL>
    <DeployIisAppPath>faculty/hamed.khaledi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <IncludeSetACLProviderOnDestination>False</IncludeSetACLProviderOnDestination>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>austin\hk8486</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProcessTreeConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=MSBSQLC\MSBSQLC;Initial Catalog=Hamed_MSU_EDU;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MSBSQLC\MSBSQLC;Initial Catalog=Hamed_MSU_EDU;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ProcessTreeConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=MSBSQLC\MSBSQLC;Initial Catalog=Hamed_MSU_EDU;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProcessTreeConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=MSBSQLC\MSBSQLC;Initial Catalog=Hamed_MSU_EDU;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>